.terminalChild {
    position: absolute;
    bottom: 0.99px;
    left: calc(50% - 446.15px);
    width: 892.3px;
    height: 116.7px;
}
.terminalConsole {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #012435;
    width: 874.2px;
    height: 93.7px;
}
.terminalConsoleWrapper {
    position: absolute;
    top: 7.72px;
    left: 9.81px;
    width: 874.2px;
    height: 93.7px;
    overflow: auto;
}
.terminal1 {
    position: absolute;
    bottom: -0.02px;
    left: calc(50% - 446.15px);
    width: 891.1px;
    height: 124.8px;
}
.terminalReleasedisengageChild {
    position: absolute;
    width: 100%;
    top: calc(50% - 11.95px);
    right: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    height: 23.9px;
}
.terminalReleasedisengageItem {
    position: absolute;
    height: 4.18%;
    width: 75.34%;
    top: 75.96%;
    right: 12.5%;
    bottom: 19.85%;
    left: 12.17%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.terminalReleasedisengageInner {
    position: absolute;
    height: 4.18%;
    width: 67.49%;
    top: 83.82%;
    right: 16.13%;
    bottom: 11.99%;
    left: 16.38%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vectorIcon {
    position: absolute;
    height: 4.18%;
    width: 81.39%;
    top: 68.11%;
    right: 9.25%;
    bottom: 27.71%;
    left: 9.36%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.terminalReleasedisengageChild1 {
    position: absolute;
    width: 91.48%;
    top: calc(50% - 10.07px);
    right: 4.31%;
    left: 4.21%;
    max-width: 100%;
    overflow: hidden;
    height: 12.2px;
}
.disengage {
    position: absolute;
    width: 83.86%;
    top: calc(50% - 8.19px);
    left: 8.42%;
    font-weight: 800;
    display: inline-block;
    height: 8.1px;
}
.terminalReleasedisengage {
    position: absolute;
    top: 0px;
    left: calc(50% - 18.77px);
    width: 44.6px;
    height: 23.9px;
}
.terminal {
    width: 100%;
    position: relative;
    height: 144.4px;
    text-align: center;
    font-size: 5.01px;
    color: #032c40;
    font-family: Orbitron;
}

