.frameChild {
    position: absolute;
    top: calc(50% - 345.7px);
    left: calc(50% - 446.1px);
    width: 892.2px;
    height: 691.4px;
}
.editorPanelChild {
    position: absolute;
    top: calc(50% - 207.11px);
    left: calc(50% - 373.39px);
    width: 747.1px;
    height: 415.3px;
}
.button2Icon {
    position: absolute;
    bottom: 9.78px;
    left: calc(50% - 7.25px);
    width: 15.7px;
    height: 15.7px;
    object-fit: contain;
}
.statepressedIcon {
    position: absolute;
    top: 4.17px;
    left: calc(50% - 7.83px);
    width: 15.7px;
    height: 15.7px;
}
.button1 {
    position: absolute;
    top: 7.33px;
    left: calc(50% - 11.43px);
    border-radius: 1.04px;
    border: 0.2px dashed #9747ff;
    box-sizing: border-box;
    width: 24px;
    height: 83.5px;
    overflow: hidden;
}
.editorPanelItem {
    position: absolute;
    right: 76.28px;
    bottom: 3.14px;
    width: 652.8px;
    height: 467.7px;
    object-fit: contain;
}
.editorPanelInner {
    position: absolute;
    bottom: 13.2px;
    left: 2.62px;
    width: 801px;
    height: 448px;
    object-fit: contain;
}
.groupIcon {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 805.7px;
    height: 474.8px;
    object-fit: contain;
}
.editorPanelChild1 {
    position: absolute;
    top: 37.17px;
    left: 35.31px;
    width: 311.5px;
    height: 195.8px;
}
.editorPanelChild2 {
    position: absolute;
    right: 35.16px;
    bottom: 37.53px;
    width: 311.5px;
    height: 195.8px;
    object-fit: contain;
}
.lightGroup30 {
    position: absolute;
    bottom: 35.7px;
    left: 35.31px;
    width: 504.8px;
    height: 79.2px;
}
.lightGroup31 {
    position: absolute;
    top: 37.17px;
    right: 34.03px;
    width: 499.2px;
    height: 80.9px;
    object-fit: contain;
}
.editorPanel {
    position: absolute;
    top: calc(50% - 266.85px);
    left: calc(50% - 405.97px);
    width: 805.7px;
    height: 474.8px;
}
.vectorLightsMini {
    position: absolute;
    top: calc(50% - 53.96px);
    left: calc(50% - 394.14px);
    width: 782.2px;
    height: 35.1px;
}
.terminalConsole1 {
    position: absolute;
    bottom: 0px;
    left: calc(50% - 437.4px);
    background-color: #012435;
    width: 874.8px;
    height: 93.7px;
}
.terminalConsoleWrapper {
    position: absolute;
    bottom: 0px;
    left: calc(50% - 437.4px);
    width: 874.8px;
    height: 93.7px;
    overflow: auto;
}
.terminalConsole {
    position: absolute;
    bottom: 25.7px;
    left: calc(50% - 437.34px);
    width: 874.8px;
    height: 93.7px;
    overflow: hidden;
}
.editorConsole1 {
    position: absolute;
    top: calc(50% - 175.2px);
    left: calc(50% - 357.7px);
    background-color: #01314c;
    width: 715.4px;
    height: 350.4px;
}
.editorConsole {
    position: absolute;
    top: calc(50% - 204.84px);
    left: calc(50% - 360.75px);
    width: 715.4px;
    height: 350.4px;
    overflow: auto;
}
.vectorParent {
    width: 100%;
    position: relative;
    height: 691.4px;
    overflow: hidden;
}

