.frameChild {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 892.2px;
    height: 588.8px;
}
.sAT {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    font-weight: 800;
    display: inline-block;
}
.sATI {
    position: absolute;
    top: 13.88px;
    left: 92.86px;
    width: 156.7px;
    height: 47.8px;
    overflow: hidden;
}
.oPTIONS {
    position: absolute;
    top: 13.88px;
    left: 685.1px;
    width: 206.2px;
    height: 47.8px;
    overflow: hidden;
    display: none;
}
.selectorGroupIcon {
    position: absolute;
    top: 1.98px;
    left: 35.27px;
    width: 56.3px;
    height: 56.3px;
}
.osGroupIcon {
    position: absolute;
    top: 89.42px;
    left: 30.88px;
    width: 186.8px;
    height: 179px;
}
.sphericalDataIcon {
    position: absolute;
    top: 113.63px;
    left: 51.96px;
    width: 123.2px;
    height: 123.2px;
}
.osLightsIcon {
    position: absolute;
    top: 68.74px;
    left: 62px;
    width: 174.3px;
    height: 217.2px;
}
.cpuPercentage1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #00364f;
}
.cpuPercentage {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30.3px;
    height: 13.8px;
    overflow: hidden;
}
.cpuPercentageWrapper {
    position: absolute;
    top: 87.12px;
    left: 189.48px;
    width: 30.3px;
    height: 13.8px;
    overflow: hidden;
}
.oslContainerIcon {
    position: absolute;
    top: 87.12px;
    left: 16.69px;
    width: 203px;
    height: 207.2px;
}
.outputVectorIcon {
    position: absolute;
    top: 96.1px;
    left: 238.31px;
    width: 120.8px;
    height: 186.5px;
}
.frameItem {
    position: absolute;
    top: calc(50% - 50.63px);
    left: 34.41px;
    width: 273.4px;
    height: 120.5px;
}
.lower9Icon {
    position: absolute;
    bottom: 196.43px;
    left: 118.84px;
    width: 168.8px;
    height: 63px;
}
.frameInner {
    position: absolute;
    bottom: 152.99px;
    left: 42.36px;
    width: 102px;
    height: 122.4px;
    overflow: hidden;
}
.speakerVisualIcon {
    position: absolute;
    top: calc(50% - 207.4px);
    left: calc(50% - 179.99px);
    width: 360px;
    height: 362.1px;
}
.speakerVectorIcon {
    position: absolute;
    top: calc(50% - 96.53px);
    right: 310.94px;
    width: 53.4px;
    height: 140px;
}
.prometheusConsoleIcon {
    position: absolute;
    bottom: 143.19px;
    left: calc(50% - 128.38px);
    width: 98.8px;
    height: 127.3px;
    overflow: hidden;
}
.audioVectorIcon {
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-radius: 1.04px;
    width: 271.9px;
    height: 70.7px;
}
.uploaded {
    position: absolute;
    top: 0.83px;
    left: 0.83px;
    letter-spacing: 0.02em;
    font-weight: 500;
    display: inline-block;
    width: 83.5px;
    height: 10.6px;
    backdrop-filter: blur(1.67px);
    mix-blend-mode: lighten;
}
.stateuploaded {
    position: absolute;
    top: 20.66px;
    left: 4.17px;
    background-color: #225c77;
    width: 85.6px;
    height: 12.3px;
    overflow: hidden;
}
.statedefault {
    position: absolute;
    top: 4.17px;
    left: 4.17px;
    background-color: #002031;
    width: 85.6px;
    height: 12.3px;
    overflow: hidden;
}
.console {
    position: absolute;
    top: -4.17px;
    left: -4.17px;
    border-radius: 1.04px;
    border: 0.2px dashed #9747ff;
    box-sizing: border-box;
    width: 93.5px;
    height: 16.5px;
    overflow: hidden;
}
.basilplayOutlineIcon {
    position: absolute;
    top: 2.5px;
    left: 75.13px;
    width: 7.5px;
    height: 7.5px;
}
.uploadedConsole {
    position: absolute;
    right: 7.13px;
    bottom: 53.81px;
    width: 85.1px;
    height: 12.3px;
}
.processing {
    position: absolute;
    top: 0.83px;
    left: 0.84px;
    letter-spacing: 0.02em;
    font-weight: 500;
    display: inline-block;
    width: 83.5px;
    height: 10.6px;
    backdrop-filter: blur(1.67px);
    mix-blend-mode: lighten;
}
.stateprocessing {
    position: absolute;
    top: 20.87px;
    left: 4.17px;
    background-color: #225c77;
    width: 85.6px;
    height: 12.3px;
    overflow: hidden;
}
.processingConsole {
    position: absolute;
    right: 93.52px;
    bottom: 53.81px;
    width: 85.1px;
    height: 12.3px;
}
.staterecording {
    position: absolute;
    top: 20.66px;
    left: 4.17px;
    background-color: #225c77;
    width: 85.1px;
    height: 12.3px;
    overflow: hidden;
}
.statedefault2 {
    position: absolute;
    top: 4.17px;
    left: 4.17px;
    background-color: #002031;
    width: 85.1px;
    height: 12.3px;
    overflow: hidden;
}
.recordingConsole {
    position: absolute;
    right: 180.12px;
    bottom: 53.81px;
    width: 85.1px;
    height: 12.3px;
}
.buildConsole {
    position: absolute;
    width: 100%;
    top: calc(50% - 23.3px);
    right: 0%;
    left: 0%;
    background-color: #002031;
    height: 46.6px;
}
.audioWaveform {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 258.7px;
    height: 48.2px;
    overflow: hidden;
}
.waveformConsole {
    position: absolute;
    right: 6.62px;
    bottom: 4.76px;
    width: 258.6px;
    height: 48.2px;
    overflow: hidden;
}
.audioVector {
    position: absolute;
    right: 35.16px;
    bottom: 274.19px;
    width: 271.9px;
    height: 70.7px;
    font-size: 8.76px;
    color: #a2d9f5;
}
.vectorMainChild {
    position: absolute;
    top: 6.89px;
    left: calc(50% - 69.85px);
    width: 136.4px;
    height: 114.7px;
}
.websocketConsole1 {
    position: absolute;
    width: 100%;
    top: calc(50% - 28.15px);
    right: 0%;
    left: 0%;
    background-color: #00364f;
    height: 56.3px;
}
.websocketConsole {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 73.7px;
    height: 56.3px;
}
.console2 {
    position: absolute;
    top: 32.14px;
    left: calc(50% - 36.98px);
    width: 73.7px;
    height: 56.3px;
    overflow: hidden;
}
.vectorMainItem {
    position: absolute;
    top: 29.84px;
    left: calc(50% - 38.13px);
    border-radius: 0.42px;
    width: 77.6px;
    height: 60px;
}
.vectorMainInner {
    position: absolute;
    top: 92.76px;
    left: calc(50% - 30.51px);
    border-radius: 0.42px;
    width: 67.6px;
    height: 20.6px;
}
.componentChild {
    position: absolute;
    width: 100%;
    top: calc(50% - 2.6px);
    right: 0%;
    left: 0%;
    background-color: #86e4f9;
    height: 5.2px;
}
.rectangleDiv {
    position: absolute;
    top: 113.31px;
    left: calc(50% + 37.1px);
    width: 5.2px;
    height: 5.2px;
}
.vectorMainInner1 {
    position: absolute;
    top: 110.39px;
    left: calc(50% + 40.02px);
    width: 5.2px;
    height: 5.2px;
}
.componentInner {
    position: absolute;
    width: 100%;
    top: calc(50% - 2.6px);
    right: 0%;
    left: 0%;
    background-color: #73cdef;
    height: 5.2px;
}
.vectorMainInner2 {
    position: absolute;
    top: 107.68px;
    left: calc(50% + 48.16px);
    width: 5.2px;
    height: 5.2px;
}
.componentChild1 {
    position: absolute;
    width: 100%;
    top: calc(50% - 2.6px);
    right: 0%;
    left: 0%;
    background-color: #7ec6df;
    height: 5.2px;
}
.vectorMainInner3 {
    position: absolute;
    top: 105.18px;
    left: calc(50% + 48.16px);
    width: 5.2px;
    height: 5.2px;
}
.vectorMainInner4 {
    position: absolute;
    top: 104.76px;
    left: calc(50% + 53.38px);
    width: 5.2px;
    height: 5.2px;
}
.componentChild3 {
    position: absolute;
    width: 100%;
    top: calc(50% - 2.6px);
    right: 0%;
    left: 0%;
    background-color: #fcff42;
    height: 5.2px;
}
.vectorMainInner5 {
    position: absolute;
    top: 102.67px;
    left: calc(50% + 40.02px);
    width: 5.2px;
    height: 5.2px;
}
.vectorMainInner6 {
    position: absolute;
    top: 105.18px;
    left: calc(50% + 33.55px);
    width: 5.2px;
    height: 5.2px;
}
.vectorMainInner7 {
    position: absolute;
    top: 97.87px;
    left: calc(50% + 20.2px);
    width: 5.2px;
    height: 5.2px;
}
.vectorMainInner8 {
    position: absolute;
    top: 97.04px;
    left: calc(50% + 33.13px);
    width: 5.2px;
    height: 5.2px;
}
.componentChild7 {
    position: absolute;
    width: 100%;
    top: calc(50% - 2.6px);
    right: 0%;
    left: 0%;
    background-color: #95f6ff;
    height: 5.2px;
}
.vectorMainInner9 {
    position: absolute;
    top: 95.16px;
    left: calc(50% + 25.41px);
    width: 5.2px;
    height: 5.2px;
}
.vectorMainInner10 {
    position: absolute;
    top: 98.08px;
    left: calc(50% + 38.35px);
    width: 5.2px;
    height: 5.2px;
}
.triangleIcon {
    position: absolute;
    top: 111.23px;
    left: calc(50% - 64.32px);
    border-radius: 0.21px;
    width: 11.7px;
    height: 11.7px;
}
.websocket {
    position: absolute;
    top: 18.36px;
    left: calc(50% - 55.56px);
    display: inline-block;
    width: 57.4px;
    height: 8.3px;
}
.vectorIcon {
    position: absolute;
    top: 5.63px;
    left: calc(50% + 47.32px);
    width: 22.5px;
    height: 42.9px;
}
.vectorMainChild1 {
    position: absolute;
    top: 4.94px;
    left: calc(50% + 49.81px);
    border-radius: 0.21px;
    background-color: #00446e;
    width: 17.5px;
    height: 3.5px;
    transform:  rotate(40.2deg);
    transform-origin: 0 0;
}
.polygonIcon {
    position: absolute;
    top: 0px;
    left: calc(50% + 52.54px);
    border-radius: 0.21px;
    width: 16px;
    height: 15.7px;
    object-fit: contain;
}
.vectorMainChild2 {
    position: absolute;
    top: 41.74px;
    left: calc(50% - 61.4px);
    border-radius: 0.21px;
    max-width: 100%;
    overflow: hidden;
    height: 10.7px;
}
.vectorMain {
    position: absolute;
    top: 80.66px;
    left: calc(50% - 71.83px);
    width: 139.7px;
    height: 122.9px;
    text-align: center;
    font-size: 6.68px;
    color: #013048;
}
.threeBarsChild {
    position: absolute;
    top: 0.21px;
    left: calc(50% - 28.99px);
    width: 66.6px;
    height: 7.2px;
    overflow: hidden;
}
.threeBarsItem {
    position: absolute;
    top: 15.03px;
    left: calc(50% - 28.99px);
    width: 66.6px;
    height: 7.2px;
    overflow: hidden;
}
.threeBarsInner {
    position: absolute;
    top: 29.01px;
    left: calc(50% - 28.99px);
    width: 66.6px;
    height: 7.2px;
    overflow: hidden;
}
.b {
    position: absolute;
    top: 0px;
    left: calc(50% - 37.55px);
    display: inline-block;
    width: 6.3px;
    height: 8.3px;
}
.b1 {
    position: absolute;
    top: 14.4px;
    left: calc(50% - 37.55px);
    display: inline-block;
    width: 6.3px;
    height: 8.3px;
}
.p {
    margin: 0;
}
.b2 {
    position: absolute;
    top: 28.38px;
    left: calc(50% - 37.55px);
    display: inline-block;
    width: 6.3px;
    height: 8.3px;
}
.threeBars {
    position: absolute;
    top: 85.66px;
    left: calc(50% + 83.32px);
    width: 75.1px;
    height: 36.7px;
    font-size: 6.68px;
    color: #0d405d;
}
.groupIcon {
    position: absolute;
    top: 129.17px;
    left: calc(50% + 80.61px);
    width: 94.5px;
    height: 0.4px;
}
.waveconsoleGroupIcon {
    position: absolute;
    top: 135.12px;
    left: calc(50% + 80.4px);
    width: 95.2px;
    height: 99.5px;
}
.frameChild1 {
    position: absolute;
    top: 240.09px;
    left: calc(50% + 80.61px);
    width: 94.5px;
    height: 0.4px;
    object-fit: contain;
}
.rpbIcon {
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 0.42px;
    width: 179.5px;
    height: 66.3px;
}
.rpbFillIcon {
    position: absolute;
    top: 2.92px;
    right: 2.28px;
    border-radius: 0.21px;
    width: 175.1px;
    height: 61.8px;
}
.buildConsole3 {
    position: absolute;
    width: 100%;
    top: calc(50% - 15.45px);
    right: 0%;
    left: 0%;
    background-color: #002031;
    height: 30.9px;
}
.buildConsole2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 171.5px;
    height: 30.9px;
    overflow: hidden;
}
.buildConsole1 {
    position: absolute;
    top: 21.7px;
    right: 2.37px;
    width: 171.5px;
    height: 30.9px;
    overflow: hidden;
}
.build {
    position: absolute;
    top: 13.15px;
    right: 133.97px;
    display: inline-block;
    width: 39.9px;
    height: 6.3px;
}
.rpb {
    position: absolute;
    top: 165.9px;
    right: -0.01px;
    width: 179.5px;
    height: 66.3px;
}
.rpcIcon {
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 0.42px;
    width: 179.3px;
    height: 66.3px;
}
.rpcFillIcon {
    position: absolute;
    top: 2.92px;
    right: 2.28px;
    border-radius: 0.21px;
    width: 174.9px;
    height: 61.8px;
}
.terminalConsole {
    position: absolute;
    top: 21.49px;
    right: 2.17px;
    width: 171.5px;
    height: 30.9px;
    overflow: hidden;
}
.ide {
    position: absolute;
    top: 12.94px;
    right: 133.77px;
    display: inline-block;
    width: 39.9px;
    height: 6.3px;
}
.rpc {
    position: absolute;
    top: 81.8px;
    right: 0.19px;
    width: 179.3px;
    height: 66.3px;
}
.rptIcon {
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 0.42px;
    width: 179.4px;
    height: 66.3px;
}
.rptFillIcon {
    position: absolute;
    top: 2.92px;
    right: 2.28px;
    border-radius: 0.21px;
    width: 175px;
    height: 61.8px;
}
.serverConsole {
    position: absolute;
    top: 21.7px;
    right: 2.27px;
    width: 171.5px;
    height: 30.9px;
    overflow: hidden;
}
.server {
    position: absolute;
    top: 12.73px;
    right: 133.87px;
    display: inline-block;
    width: 39.9px;
    height: 6.3px;
}
.rpt {
    position: absolute;
    top: 0px;
    right: 0.09px;
    width: 179.4px;
    height: 66.3px;
}
.rpVectorBackground {
    position: absolute;
    top: 35.27px;
    right: 191.07px;
    border-radius: 1.04px;
    width: 76.9px;
    height: 184.1px;
}
.rpVectorLight {
    position: absolute;
    width: 96.59%;
    top: calc(50% - 92.88px);
    right: 1.3%;
    left: 2.11%;
    border-radius: 1.04px;
    max-width: 100%;
    overflow: hidden;
    height: 184.6px;
}
.rpv1 {
    position: absolute;
    width: 3.92%;
    top: calc(50% - 93.4px);
    right: 0.05%;
    left: 96.03%;
    backdrop-filter: blur(0.83px);
    background-color: #3fa4e3;
    height: 3.1px;
}
.rpv2 {
    position: absolute;
    width: 3.92%;
    top: calc(50% - 10.14px);
    right: 0.05%;
    left: 96.03%;
    backdrop-filter: blur(0.83px);
    background-color: #3fa4e3;
    height: 3.1px;
}
.rpv3 {
    position: absolute;
    width: 3.92%;
    top: calc(50% + 73.13px);
    right: 0.05%;
    left: 96.03%;
    backdrop-filter: blur(0.83px);
    background-color: #3fa4e3;
    height: 3.1px;
}
.rpv4 {
    position: absolute;
    width: 3.92%;
    top: calc(50% + 90.24px);
    right: 96.08%;
    left: 0%;
    backdrop-filter: blur(0.83px);
    background-color: #3fa4e3;
    height: 3.1px;
}
.rpVectorLights {
    position: absolute;
    top: 33.81px;
    right: 189.5px;
    width: 79.1px;
    height: 186.8px;
}
.rpVector {
    position: absolute;
    top: 96.72px;
    right: 35.33px;
    width: 268.6px;
    height: 232.2px;
    font-size: 5.01px;
    color: #002538;
}
.grafanaGroupIcon {
    position: absolute;
    bottom: 162.56px;
    left: calc(50% + 13.83px);
    width: 139.8px;
    height: 116.8px;
}
.chatPanelVector1 {
    position: absolute;
    right: 260.03px;
    bottom: 167.76px;
    border-radius: 0.42px;
    width: 10.2px;
    height: 87.5px;
}
.chatPanelVector2 {
    position: absolute;
    right: 36.84px;
    bottom: 166.4px;
    border-radius: 0.42px;
    width: 10.2px;
    height: 87.5px;
    object-fit: contain;
}
.chatPanelIcon {
    position: absolute;
    right: 2.76px;
    bottom: 11.05px;
    border-radius: 1.04px;
    width: 202.8px;
    height: 70.5px;
}
.gptAssistantStatus {
    position: absolute;
    right: 16.66px;
    bottom: 62.58px;
    background-color: #002031;
    width: 172.2px;
    height: 17.3px;
}
.textInput {
    position: absolute;
    right: 6.04px;
    bottom: 21.85px;
    background-color: #002031;
    width: 196.6px;
    height: 40.5px;
}
.statepressedIcon {
    position: absolute;
    right: 4.13px;
    bottom: 43.73px;
    width: 15.7px;
    height: 15.7px;
}
.statepressedParent {
    position: absolute;
    right: 92.24px;
    bottom: 37.77px;
    border-radius: 1.04px;
    border: 0.2px dashed #9747ff;
    box-sizing: border-box;
    width: 24px;
    height: 63.6px;
    overflow: hidden;
}
.basilsendOutlineIcon {
    position: absolute;
    right: 23.18px;
    bottom: 13.32px;
    width: 7.5px;
    height: 7.5px;
}
.basilmicrophoneOutlineIcon {
    position: absolute;
    right: 164.25px;
    bottom: 13.32px;
    width: 7.5px;
    height: 7.5px;
}
.basilattachOutlineIcon {
    position: absolute;
    right: 173.64px;
    bottom: 13.32px;
    width: 7.5px;
    height: 7.5px;
}
.chatPanelParent {
    position: absolute;
    right: 49.54px;
    bottom: 169.43px;
    width: 211.4px;
    height: 97.2px;
}
.ideButton {
    position: absolute;
    right: 141.78px;
    bottom: 121.02px;
    border-radius: 1.04px;
    border: 0.2px dashed #9747ff;
    box-sizing: border-box;
    width: 24px;
    height: 63.6px;
    overflow: hidden;
}
.hudVectorLights {
    position: absolute;
    top: calc(50% - 270.26px);
    left: 16.69px;
    width: 857.3px;
    height: 472.8px;
}
.statepressedIcon2 {
    position: absolute;
    bottom: 60.33px;
    left: calc(50% - 22.28px);
    width: 44.6px;
    height: 23.9px;
}
.statedefaultChild {
    position: absolute;
    bottom: 0px;
    left: calc(50% - 22.3px);
    width: 44.6px;
    height: 23.9px;
}
.statedefaultItem {
    position: absolute;
    bottom: 4.74px;
    left: calc(50% - 16.87px);
    max-height: 100%;
    width: 33.6px;
}
.statedefaultInner {
    position: absolute;
    bottom: 2.87px;
    left: calc(50% - 15px);
    max-height: 100%;
    width: 30.1px;
}
.statedefaultChild1 {
    position: absolute;
    bottom: 6.62px;
    left: calc(50% - 18.13px);
    max-height: 100%;
    width: 36.3px;
}
.statedefaultChild2 {
    position: absolute;
    bottom: 9.82px;
    left: calc(50% - 20.42px);
    width: 40.8px;
    height: 12.2px;
}
.engage {
    position: absolute;
    bottom: 13.24px;
    left: calc(50% - 18.33px);
    font-weight: 800;
    display: inline-block;
    width: 36.7px;
    height: 6.7px;
}
.terminalRelease {
    position: absolute;
    bottom: 59.49px;
    left: calc(50% - 22.9px);
    border-radius: 1.04px;
    border: 0.2px dashed #9747ff;
    box-sizing: border-box;
    width: 52.9px;
    height: 88.4px;
    text-align: center;
    font-size: 5.01px;
    color: #032c40;
}
.componentParent {
    width: 100%;
    position: relative;
    height: 691.4px;
    text-align: left;
    font-size: 27.75px;
    color: #9dcdf1;
    font-family: Orbitron;
}

