.frame-child {
  position: absolute;
  top: -0.12px;
  left: 0px;
  width: 1069px;
  height: 705.5px;
}
.s-a-t {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  font-weight: 800;
  display: inline-block;
}
.s-a-t-i {
  position: absolute;
  top: 16.63px;
  left: 111.25px;
  width: 187.8px;
  height: 57.3px;
  overflow: hidden;
}
.o-p-t-i-o-n-s {
  position: absolute;
  top: 16.63px;
  left: 820.75px;
  width: 247px;
  height: 57.3px;
  overflow: hidden;
  display: none;
}
.selector-group-icon {
  position: absolute;
  top: 2.38px;
  left: 42.25px;
  width: 67.5px;
  height: 67.5px;
}
.os-group-icon {
  position: absolute;
  top: 107.13px;
  left: 37px;
  width: 223.8px;
  height: 214.5px;
}
.sperical-data-icon {
  position: absolute;
  top: 136.13px;
  left: 62.25px;
  width: 147.6px;
  height: 147.6px;
}
.os-lights-icon {
  position: absolute;
  top: 82.35px;
  left: 74.27px;
  width: 208.8px;
  height: 260.2px;
}
.cpu-percentage1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  background-color: #00364f;
}
.cpu-percentage {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 36.3px;
  height: 16.5px;
  overflow: hidden;
}
.cpu-percentage-wrapper {
  position: absolute;
  top: 104.38px;
  left: 227px;
  width: 36.3px;
  height: 16.5px;
  overflow: hidden;
}
.osl-container-icon {
  position: absolute;
  top: 104.38px;
  left: 20px;
  width: 243.3px;
  height: 248.3px;
}
.output-vector-icon {
  position: absolute;
  top: 115.13px;
  left: 285.5px;
  width: 144.8px;
  height: 223.4px;
}
.frame-item {
  position: absolute;
  top: calc(50% - 60.65px);
  left: 41.25px;
  width: 327.5px;
  height: 144.4px;
}
.lower-9-icon {
  position: absolute;
  bottom: 235.3px;
  left: 142.38px;
  width: 202.3px;
  height: 75.5px;
}
.frame-inner {
  position: absolute;
  bottom: 183.32px;
  left: 50.75px;
  width: 122.3px;
  height: 146.6px;
  overflow: hidden;
}
.speaker-visual-icon {
  position: absolute;
  top: calc(50% - 248.47px);
  left: calc(50% - 215.65px);
  width: 431.2px;
  height: 433.8px;
}
.speaker-vector-icon {
  position: absolute;
  top: calc(50% - 115.65px);
  right: 372.53px;
  width: 64px;
  height: 167.8px;
}
.prometheus-console-icon {
  position: absolute;
  bottom: 171.55px;
  left: calc(50% - 153.83px);
  width: 118.4px;
  height: 152.5px;
  overflow: hidden;
}
.audio-vector-icon {
  position: absolute;
  right: 0px;
  bottom: 0px;
  border-radius: 1.25px;
  width: 325.8px;
  height: 84.8px;
}
.uploaded {
  position: absolute;
  top: 1px;
  left: 1px;
  letter-spacing: 0.02em;
  font-weight: 500;
  display: inline-block;
  width: 100px;
  height: 12.8px;
  backdrop-filter: blur(2px);
  mix-blend-mode: lighten;
}
.stateuploaded {
  position: absolute;
  top: 24.75px;
  left: 5px;
  background-color: #225c77;
  width: 102.5px;
  height: 14.8px;
  overflow: hidden;
}
.statedefault {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #002031;
  width: 102.5px;
  height: 14.8px;
  overflow: hidden;
}
.console {
  position: absolute;
  top: -5px;
  left: -5px;
  border-radius: 1.25px;
  border: 0.3px dashed #9747ff;
  box-sizing: border-box;
  width: 112px;
  height: 19.8px;
  overflow: hidden;
}
.basilplay-outline-icon {
  position: absolute;
  top: 3px;
  left: 90px;
  width: 9px;
  height: 9px;
}
.uploaded-console {
  position: absolute;
  right: 8.55px;
  bottom: 64.5px;
  width: 102px;
  height: 14.8px;
}
.stateprocessing {
  position: absolute;
  top: 25px;
  left: 5px;
  background-color: #225c77;
  width: 102.5px;
  height: 14.8px;
  overflow: hidden;
}
.processing-console {
  position: absolute;
  right: 112.05px;
  bottom: 64.5px;
  width: 102px;
  height: 14.8px;
}
.staterecording {
  position: absolute;
  top: 24.75px;
  left: 5px;
  background-color: #225c77;
  width: 102px;
  height: 14.8px;
  overflow: hidden;
}
.statedefault2 {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #002031;
  width: 102px;
  height: 14.8px;
  overflow: hidden;
}
.recording-console {
  position: absolute;
  right: 215.8px;
  bottom: 64.5px;
  width: 102px;
  height: 14.8px;
}
.build-console {
  position: absolute;
  width: 100%;
  top: calc(50% - 27.91px);
  right: 0%;
  left: 0%;
  background-color: #002031;
  height: 55.8px;
}
.audio-waveform {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 309.8px;
  height: 57.8px;
  overflow: hidden;
}
.waveform-console {
  position: absolute;
  right: 8px;
  bottom: 5.75px;
  width: 309.8px;
  height: 57.8px;
  overflow: hidden;
}
.audio-vector {
  position: absolute;
  right: 42.1px;
  bottom: 328.38px;
  width: 325.8px;
  height: 84.8px;
  font-size: 10.5px;
  color: #a2d9f5;
}
.vector-main-child {
  position: absolute;
  top: 8.25px;
  left: calc(50% - 83.7px);
  width: 163.4px;
  height: 137.4px;
}
.websocket-console1 {
  position: absolute;
  width: 100%;
  top: calc(50% - 33.75px);
  right: 0%;
  left: 0%;
  background-color: #00364f;
  height: 67.5px;
}
.websocket-console {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 88.3px;
  height: 67.5px;
}
.console2 {
  position: absolute;
  top: 38.5px;
  left: calc(50% - 44.33px);
  width: 88.3px;
  height: 67.5px;
  overflow: hidden;
}
.vector-main-item {
  position: absolute;
  top: 35.75px;
  left: calc(50% - 45.7px);
  border-radius: 0.5px;
  width: 93px;
  height: 71.9px;
}
.vector-main-inner {
  position: absolute;
  top: 111.13px;
  left: calc(50% - 36.58px);
  border-radius: 0.5px;
  width: 81px;
  height: 24.6px;
}
.component-child {
  position: absolute;
  width: 100%;
  top: calc(50% - 3.15px);
  right: 0%;
  left: 0%;
  background-color: #86e4f9;
  height: 6.3px;
}
.rectangle-div {
  position: absolute;
  top: 135.75px;
  left: calc(50% + 44.42px);
  width: 6.3px;
  height: 6.3px;
}
.vector-main-inner1 {
  position: absolute;
  top: 132.25px;
  left: calc(50% + 47.92px);
  width: 6.3px;
  height: 6.3px;
}
.component-inner {
  position: absolute;
  width: 100%;
  top: calc(50% - 3.15px);
  right: 0%;
  left: 0%;
  background-color: #73cdef;
  height: 6.3px;
}
.vector-main-inner2 {
  position: absolute;
  top: 129px;
  left: calc(50% + 57.67px);
  width: 6.3px;
  height: 6.3px;
}
.component-child1 {
  position: absolute;
  width: 100%;
  top: calc(50% - 3.15px);
  right: 0%;
  left: 0%;
  background-color: #7ec6df;
  height: 6.3px;
}
.vector-main-inner3 {
  position: absolute;
  top: 126px;
  left: calc(50% + 57.67px);
  width: 6.3px;
  height: 6.3px;
}
.vector-main-inner4 {
  position: absolute;
  top: 125.5px;
  left: calc(50% + 63.92px);
  width: 6.3px;
  height: 6.3px;
}
.component-child3 {
  position: absolute;
  width: 100%;
  top: calc(50% - 3.15px);
  right: 0%;
  left: 0%;
  background-color: #fcff42;
  height: 6.3px;
}
.vector-main-inner5 {
  position: absolute;
  top: 123px;
  left: calc(50% + 47.92px);
  width: 6.3px;
  height: 6.3px;
}
.vector-main-inner6 {
  position: absolute;
  top: 126px;
  left: calc(50% + 40.17px);
  width: 6.3px;
  height: 6.3px;
}
.vector-main-inner7 {
  position: absolute;
  top: 117.25px;
  left: calc(50% + 24.17px);
  width: 6.3px;
  height: 6.3px;
}
.vector-main-inner8 {
  position: absolute;
  top: 116.25px;
  left: calc(50% + 39.67px);
  width: 6.3px;
  height: 6.3px;
}
.component-child7 {
  position: absolute;
  width: 100%;
  top: calc(50% - 3.15px);
  right: 0%;
  left: 0%;
  background-color: #95f6ff;
  height: 6.3px;
}
.vector-main-inner9 {
  position: absolute;
  top: 114px;
  left: calc(50% + 30.42px);
  width: 6.3px;
  height: 6.3px;
}
.vector-main-inner10 {
  position: absolute;
  top: 117.5px;
  left: calc(50% + 45.92px);
  width: 6.3px;
  height: 6.3px;
}
.triangle-icon {
  position: absolute;
  top: 133.25px;
  left: calc(50% - 77.08px);
  border-radius: 0.25px;
  width: 14px;
  height: 14px;
}
.websocket {
  position: absolute;
  top: 22px;
  left: calc(50% - 66.58px);
  display: inline-block;
  width: 68.8px;
  height: 10px;
}
.vector-icon {
  position: absolute;
  top: 6.75px;
  left: calc(50% + 56.67px);
  width: 27px;
  height: 51.4px;
}
.vector-main-child1 {
  position: absolute;
  top: 5.92px;
  left: calc(50% + 59.65px);
  border-radius: 0.25px;
  background-color: #00446e;
  width: 21px;
  height: 4.3px;
  transform:  rotate(40.2deg);
  transform-origin: 0 0;
}
.polygon-icon {
  position: absolute;
  top: 0px;
  left: calc(50% + 62.92px);
  border-radius: 0.25px;
  width: 19.2px;
  height: 18.8px;
  object-fit: contain;
}
.vector-main-child2 {
  position: absolute;
  top: 50px;
  left: calc(50% - 73.58px);
  border-radius: 0.25px;
  max-width: 100%;
  overflow: hidden;
  height: 12.9px;
}
.vector-main {
  position: absolute;
  top: 96.63px;
  left: calc(50% - 86.08px);
  width: 167.4px;
  height: 147.3px;
  text-align: center;
  font-size: 8px;
  color: #013048;
}
.three-bars-child {
  position: absolute;
  top: 0.25px;
  left: calc(50% - 34.75px);
  width: 79.8px;
  height: 8.6px;
  overflow: hidden;
}
.three-bars-item {
  position: absolute;
  top: 18px;
  left: calc(50% - 34.75px);
  width: 79.8px;
  height: 8.6px;
  overflow: hidden;
}
.three-bars-inner {
  position: absolute;
  top: 34.75px;
  left: calc(50% - 34.75px);
  width: 79.8px;
  height: 8.6px;
  overflow: hidden;
}
.b {
  position: absolute;
  top: 0px;
  left: calc(50% - 45px);
  display: inline-block;
  width: 7.5px;
  height: 10px;
}
.b1 {
  position: absolute;
  top: 17.25px;
  left: calc(50% - 45px);
  display: inline-block;
  width: 7.5px;
  height: 10px;
}
.p {
  margin: 0;
}
.b2 {
  position: absolute;
  top: 34px;
  left: calc(50% - 45px);
  display: inline-block;
  width: 7.5px;
  height: 10px;
}
.three-bars {
  position: absolute;
  top: 102.63px;
  left: calc(50% + 99.8px);
  width: 90px;
  height: 44px;
  font-size: 8px;
  color: #0d405d;
}
.group-icon {
  position: absolute;
  top: 154.75px;
  left: calc(50% + 96.55px);
  width: 113.3px;
  height: 0.5px;
}
.waveconsole-group-icon {
  position: absolute;
  top: 161.88px;
  left: calc(50% + 96.3px);
  width: 114px;
  height: 119.3px;
}
.frame-child1 {
  position: absolute;
  top: 287.63px;
  left: calc(50% + 96.55px);
  width: 113.3px;
  height: 0.5px;
  object-fit: contain;
}
.rpb-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 0.5px;
  width: 215px;
  height: 79.4px;
}
.rpb-fill-icon {
  position: absolute;
  top: 3.5px;
  right: 2.66px;
  border-radius: 0.25px;
  width: 209.8px;
  height: 74px;
}
.build-console3 {
  position: absolute;
  width: 100%;
  top: calc(50% - 18.5px);
  right: 0%;
  left: 0%;
  background-color: #002031;
  height: 37px;
}
.build-console2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 205.5px;
  height: 37px;
  overflow: hidden;
}
.build-console1 {
  position: absolute;
  top: 26px;
  right: 2.75px;
  width: 205.5px;
  height: 37px;
  overflow: hidden;
}
.build {
  position: absolute;
  top: 15.75px;
  right: 160.45px;
  display: inline-block;
  width: 47.8px;
  height: 7.5px;
}
.rpb {
  position: absolute;
  top: 198.75px;
  right: -0.05px;
  width: 215px;
  height: 79.4px;
}
.rpc-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 0.5px;
  width: 214.8px;
  height: 79.4px;
}
.rpc-fill-icon {
  position: absolute;
  top: 3.5px;
  right: 2.76px;
  border-radius: 0.25px;
  width: 209.5px;
  height: 74px;
}
.terminal-console {
  position: absolute;
  top: 25.75px;
  right: 2.55px;
  width: 205.5px;
  height: 37px;
  overflow: hidden;
}
.ide {
  position: absolute;
  top: 15.5px;
  right: 160.25px;
  display: inline-block;
  width: 47.8px;
  height: 7.5px;
}
.rpc {
  position: absolute;
  top: 98px;
  right: 0.15px;
  width: 214.8px;
  height: 79.4px;
}
.rpt-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 0.5px;
  width: 214.9px;
  height: 79.4px;
}
.rpt-fill-icon {
  position: absolute;
  top: 3.5px;
  right: 2.66px;
  border-radius: 0.25px;
  width: 209.7px;
  height: 74px;
}
.server-console {
  position: absolute;
  top: 26px;
  right: 2.65px;
  width: 205.5px;
  height: 37px;
  overflow: hidden;
}
.server {
  position: absolute;
  top: 15.25px;
  right: 160.35px;
  display: inline-block;
  width: 47.8px;
  height: 7.5px;
}
.rpt {
  position: absolute;
  top: 0px;
  right: 0.05px;
  width: 214.9px;
  height: 79.4px;
}
.rp-vector-background {
  position: absolute;
  top: 42.25px;
  right: 228.85px;
  border-radius: 1.25px;
  width: 92.1px;
  height: 220.5px;
}
.rp-vector-light {
  position: absolute;
  width: 96.52%;
  top: calc(50% - 111.28px);
  right: 1.37%;
  left: 2.11%;
  border-radius: 1.25px;
  max-width: 100%;
  overflow: hidden;
  height: 221.1px;
}
.rpv1 {
  position: absolute;
  width: 4.01%;
  top: calc(50% - 111.9px);
  right: 0%;
  left: 95.99%;
  backdrop-filter: blur(1px);
  background-color: #3fa4e3;
  height: 3.8px;
}
.rpv2 {
  position: absolute;
  width: 4.01%;
  top: calc(50% - 12.15px);
  right: 0%;
  left: 95.99%;
  backdrop-filter: blur(1px);
  background-color: #3fa4e3;
  height: 3.8px;
}
.rpv3 {
  position: absolute;
  width: 4.01%;
  top: calc(50% + 87.6px);
  right: 0%;
  left: 95.99%;
  backdrop-filter: blur(1px);
  background-color: #3fa4e3;
  height: 3.8px;
}
.rpv4 {
  position: absolute;
  width: 4.01%;
  top: calc(50% + 108.1px);
  right: 95.99%;
  left: 0%;
  backdrop-filter: blur(1px);
  background-color: #3fa4e3;
  height: 3.8px;
}
.rp-vector-lights {
  position: absolute;
  top: 40.5px;
  right: 226.9px;
  width: 94.8px;
  height: 223.8px;
}
.rp-vector {
  position: absolute;
  top: 115.88px;
  right: 42.45px;
  width: 321.7px;
  height: 278.1px;
  font-size: 6px;
  color: #002538;
}
.grafana-group-icon {
  position: absolute;
  bottom: 194.77px;
  left: calc(50% + 16.55px);
  width: 167.5px;
  height: 139.9px;
}
.chat-panel-vector-1 {
  position: absolute;
  right: 311.48px;
  bottom: 200.9px;
  border-radius: 0.5px;
  width: 12.3px;
  height: 104.9px;
}
.chat-panel-vector-2 {
  position: absolute;
  right: 44.1px;
  bottom: 199.27px;
  border-radius: 0.5px;
  width: 12.3px;
  height: 104.9px;
  object-fit: contain;
}
.chat-panel-icon {
  position: absolute;
  right: 3.3px;
  bottom: 13.25px;
  border-radius: 1.25px;
  width: 243px;
  height: 84.5px;
}
.gpt-assistant-status {
  position: absolute;
  right: 20px;
  bottom: 74.95px;
  background-color: #002031;
  width: 206.3px;
  height: 20.8px;
}
.text-input {
  position: absolute;
  right: 7.3px;
  bottom: 26.25px;
  background-color: #002031;
  width: 235.5px;
  height: 48.5px;
}
.statepressed-icon {
  position: absolute;
  right: 5px;
  bottom: 52.5px;
  width: 18.8px;
  height: 18.8px;
}
.statepressed-parent {
  position: absolute;
  right: 110.5px;
  bottom: 45.2px;
  border-radius: 1.25px;
  border: 0.3px dashed #9747ff;
  box-sizing: border-box;
  width: 28.8px;
  height: 76.3px;
  overflow: hidden;
}
.basilsend-outline-icon {
  position: absolute;
  right: 27.8px;
  bottom: 16px;
  width: 9px;
  height: 9px;
}
.basilmicrophone-outline-icon {
  position: absolute;
  right: 196.8px;
  bottom: 16px;
  width: 9px;
  height: 9px;
}
.basilattach-outline-icon {
  position: absolute;
  right: 208.05px;
  bottom: 16px;
  width: 9px;
  height: 9px;
}
.chat-panel-parent {
  position: absolute;
  right: 59.35px;
  bottom: 202.92px;
  width: 253.3px;
  height: 116.5px;
}
.ide-button {
  position: absolute;
  right: 169.85px;
  bottom: 144.88px;
  border-radius: 1.25px;
  border: 0.3px dashed #9747ff;
  box-sizing: border-box;
  width: 28.8px;
  height: 76.3px;
  overflow: hidden;
}
.hud-vector-lights {
  position: absolute;
  top: calc(50% - 323.77px);
  left: 20px;
  width: 1027px;
  height: 566.4px;
}
.statepressed-icon2 {
  position: absolute;
  bottom: 72.3px;
  left: calc(50% - 26.7px);
  width: 53.4px;
  height: 28.6px;
}
.statedefault-child {
  position: absolute;
  bottom: 0px;
  left: calc(50% - 26.7px);
  width: 53.4px;
  height: 28.6px;
}
.statedefault-item {
  position: absolute;
  bottom: 5.55px;
  left: calc(50% - 20.2px);
  max-height: 100%;
  width: 40.3px;
}
.statedefault-inner {
  position: absolute;
  bottom: 3.3px;
  left: calc(50% - 17.95px);
  max-height: 100%;
  width: 36px;
}
.statedefault-child1 {
  position: absolute;
  bottom: 7.8px;
  left: calc(50% - 21.7px);
  max-height: 100%;
  width: 43.5px;
}
.statedefault-child2 {
  position: absolute;
  bottom: 11.75px;
  left: calc(50% - 24.45px);
  width: 48.9px;
  height: 14.6px;
}
.engage {
  position: absolute;
  bottom: 15.85px;
  left: calc(50% - 21.95px);
  font-weight: 800;
  display: inline-block;
  width: 44px;
  height: 8px;
}
.terminal-release {
  position: absolute;
  bottom: 71.27px;
  left: calc(50% - 27.45px);
  border-radius: 1.25px;
  border: 0.3px dashed #9747ff;
  box-sizing: border-box;
  width: 63.4px;
  height: 105.9px;
  overflow: hidden;
  text-align: center;
  font-size: 6px;
  color: #032c40;
}
.vector-parent {
  width: 100%;
  position: relative;
  height: 828.3px;
  text-align: left;
  font-size: 33.25px;
  color: #9dcdf1;
  font-family: Orbitron;
}


.terminal-child {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1069px;
  height: 139.8px;
}
.terminal-console3 {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #012435;
  width: 1047.3px;
  height: 112.3px;
}
.terminal-console-wrapper {
  position: absolute;
  top: 9.25px;
  left: 11.75px;
  width: 1047.3px;
  height: 112.3px;
  overflow: auto;
}
.terminal1 {
  position: absolute;
  top: -8.5px;
  left: 0px;
  width: 1067.5px;
  height: 149.5px;
}
.terminal-releasedisengage-child {
  position: absolute;
  width: 100%;
  top: calc(50% - 14.3px);
  right: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  height: 28.6px;
}
.terminal-releasedisengage-item {
  position: absolute;
  height: 4.55%;
  width: 75.47%;
  top: 76.05%;
  right: 12.36%;
  bottom: 19.41%;
  left: 12.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.terminal-releasedisengage-inner {
  position: absolute;
  height: 4.55%;
  width: 67.42%;
  top: 83.92%;
  right: 16.2%;
  bottom: 11.54%;
  left: 16.39%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.terminal-releasedisengage-child1 {
  position: absolute;
  height: 4.55%;
  width: 81.46%;
  top: 68.18%;
  right: 9.18%;
  bottom: 27.27%;
  left: 9.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.terminal-releasedisengage-child2 {
  position: absolute;
  width: 91.57%;
  top: calc(50% - 12.05px);
  right: 4.21%;
  left: 4.21%;
  max-width: 100%;
  overflow: hidden;
  height: 14.6px;
}
.disengage {
  position: absolute;
  width: 83.9%;
  top: calc(50% - 9.8px);
  left: 8.43%;
  font-weight: 800;
  display: inline-block;
  height: 9.8px;
}
.terminal-releasedisengage {
  position: absolute;
  top: -32px;
  left: 512px;
  width: 53.4px;
  height: 28.6px;
}
.terminal {
  width: 1068.9px;
  position: relative;
  height: 139.7px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: center;
  font-size: 6px;
  color: #032c40;
  font-family: Orbitron;
}

