.terminal-child {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1069px;
    height: 139.8px;
}
.terminal-console3 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #012435;
    width: 1047.3px;
    height: 112.3px;
}
.terminal-console-wrapper {
    position: absolute;
    top: 9.25px;
    left: 11.75px;
    width: 1047.3px;
    height: 112.3px;
    overflow: auto;
}
.terminal1 {
    position: absolute;
    top: -8.5px;
    left: 0px;
    width: 1067.5px;
    height: 149.5px;
}
.terminal-releasedisengage-child {
    position: absolute;
    width: 100%;
    top: calc(50% - 14.3px);
    right: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    height: 28.6px;
}
.terminal-releasedisengage-item {
    position: absolute;
    height: 4.55%;
    width: 75.47%;
    top: 76.05%;
    right: 12.36%;
    bottom: 19.41%;
    left: 12.17%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.terminal-releasedisengage-inner {
    position: absolute;
    height: 4.55%;
    width: 67.42%;
    top: 83.92%;
    right: 16.2%;
    bottom: 11.54%;
    left: 16.39%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.terminal-releasedisengage-child1 {
    position: absolute;
    height: 4.55%;
    width: 81.46%;
    top: 68.18%;
    right: 9.18%;
    bottom: 27.27%;
    left: 9.36%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.terminal-releasedisengage-child2 {
    position: absolute;
    width: 91.57%;
    top: calc(50% - 12.05px);
    right: 4.21%;
    left: 4.21%;
    max-width: 100%;
    overflow: hidden;
    height: 14.6px;
}
.disengage {
    position: absolute;
    width: 83.9%;
    top: calc(50% - 9.8px);
    left: 8.43%;
    font-weight: 800;
    display: inline-block;
    height: 9.8px;
}
.terminal-releasedisengage {
    position: absolute;
    top: -32px;
    left: 512px;
    width: 53.4px;
    height: 28.6px;
}
.terminal {
    width: 1068.9px;
    position: relative;
    height: 139.7px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    text-align: center;
    font-size: 6px;
    color: #032c40;
    font-family: Orbitron;
}

